{
    "extends": [
        "airbnb-base",
        "prettier",
        "react-app",
        "plugin:jsx-a11y/recommended"
    ],
    "plugins": [
        "prettier",
        "flowtype",
        "import",
        "jsx-a11y"
    ],
    "globals": {
        "document": true,
        "window": true,
        "$": true
    },
    "rules": {
        "indent": 0,
        "no-tabs": 0,
        "no-underscore-dangle": 0,
        "space-before-function-paren": 0,
        "quote-props": 0,
        "comma-dangle": 0,
        "operator-linebreak": 0,
        "class-methods-use-this": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "react/jsx-wrap-multilines": 0,
        "react/forbid-prop-types": 0,
        "prettier/prettier": ["error", {
            "singleQuote": true,
            "trailingComma": "all",
            "bracketSpacing": true,
            "jsxBracketSameLine": false,
            "parser": "flow",
            "useTabs": true,
            "tabWidth": 4
        }]
    }
}
