$color-green: #006233;
$color-gold: #ae8929;
$color-green-lite: #16ab39;
$color-dark-grey: #4d4e50;
$color-white: #ffffff;
$color-black: #000000;
$color-silver-sand: #BABBBC;
$color-jumbo: #88878C;

$primary-color: $color-gold;
$header-bg-color: $color-silver-sand;