body {
  background-color: #f6f9f9;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: $primary-color;
}

.ui.button {
  &.green {
    background-color: $color-green;
  }
  &.primary {
    background-color: $primary-color;
  }
  &.secondary {
    background-color: $color-green;
  }
}

.float.right {
  float: right;
}
