body {
  background-color: #f6f9f9;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }

a {
  color: #ae8929; }

.ui.button.green {
  background-color: #006233; }

.ui.button.primary {
  background-color: #ae8929; }

.ui.button.secondary {
  background-color: #006233; }

.float.right {
  float: right; }

.ui.top.attached.header {
  padding: 1.2rem 1rem; }
  .ui.top.attached.header button, .ui.top.attached.header a {
    margin-top: -7px; }

.ui.search > .results {
  width: 100% !important; }
  .ui.search > .results .content {
    padding: 0 !important; }
  .ui.search > .results .title {
    border: 0 !important;
    padding: 0 !important;
    font-weight: 300 !important; }

.ui.breadcrumb {
  margin: 15px 0 !important;
  color: #88878C; }
  .ui.breadcrumb a {
    color: #ae8929; }

#app {
  -webkit-transform: initial !important;
  transform: initial !important; }

.alertify {
  z-index: 9; }

.ui.fixed.head-bar {
  background: #4d4e50;
  margin-bottom: 15px;
  padding-top: 12px;
  color: #ffffff; }
  .ui.fixed.head-bar a {
    color: #ffffff; }
  .ui.fixed.head-bar .logo .icon {
    float: left;
    margin-top: 3px; }
  .ui.fixed.head-bar .logo img {
    float: left;
    width: 90px; }
